body{
  display: flex;
  flex-direction: column;
}

.welcome {

  width: 75%;
}

.initButtons {

  width: 75%;
}

.newPerson {

  width: 75%;

  display: none;
}

.existingPersonRadio {

  width: 75%;
  display: none;
}

.existingPersonBox {

  width: 75%;
  background-color: magenta;
  display: none;
}