body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

form{
  padding: 0px;
}

.welcome {
  width: 75%;
  text-align: center;
  border-style: solid solid hidden solid;
}

.initButtonsDiv {
  width: 75%;
  text-align: center;
  border-style: hidden solid solid solid;
}

.newPersonDiv {
  width: 75%;
  text-align: center;
  border-style: hidden solid solid solid;
  display: none;
}

.existingPersonDiv  {
  width: 75%;
  display: none;
  text-align: center;
  border-style: hidden solid solid solid;
}

.radioWrapper {
  display: block;
}

.giftInputLabel {
  display:inline-block;
  padding-top: 15px;
}

.randomGift {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: black;
    color: white;
  }
}